<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.products.dao.ProjectInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.products.pojo.ProjectInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="author_phone" property="authorPhone" jdbcType="VARCHAR" />
    <result column="customer" property="customer" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="total_price" property="totalPrice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, project_name, author, author_phone, customer, create_time, total_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from projectinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from projectinfo
  </select>
  <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from projectinfo
    where project_id = #{projectId,jdbcType=VARCHAR}
  </select>
  <select id="selectByAuthor" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from projectinfo
    where author = #{author,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByProjectId" parameterType="java.lang.String" >
    delete from projectinfo
    where project_id = #{projectId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from projectinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.products.pojo.ProjectInfo" >
    insert into projectinfo (id, project_id, project_name, 
      author, author_phone, customer, 
      create_time, total_price)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{authorPhone,jdbcType=VARCHAR}, #{customer,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{totalPrice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.products.pojo.ProjectInfo" >
    insert into projectinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="authorPhone != null" >
        author_phone,
      </if>
      <if test="customer != null" >
        customer,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="authorPhone != null" >
        #{authorPhone,jdbcType=VARCHAR},
      </if>
      <if test="customer != null" >
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.products.pojo.ProjectInfo" >
    update projectinfo
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="authorPhone != null" >
        author_phone = #{authorPhone,jdbcType=VARCHAR},
      </if>
      <if test="customer != null" >
        customer = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.products.pojo.ProjectInfo" >
    update projectinfo
    set project_id = #{projectId,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      author_phone = #{authorPhone,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      total_price = #{totalPrice,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>